# Binaries
*.out
*.gdb

# Entregas
entrega-tp*.zip

*.ini

#archivos especificos
tp1/cajatestcp.csv
.vscode/settings.json
tp1/caja1.csv
tda_lista/pruebas
tda_lista/ejemplo
tda_lista/TDA_lista.zip
tda_abb/TDA_abb.zip
tda_abb/ejemplo
tda_abb/pruebas
tp1/mintupgrade-2022-09-08T220722.log
tda_abb/pruebas
tda_abb/pruebas
tda_abb/pruebas
tda_hash/TDA_abb.zip
tda_hash/.clang-format
tda_hash/pruebas
